# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

NODE_ENV=development
SKIP_ENV_VALIDATION=true

# Supabase Client Credentials
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"

##############################################
## Following are the optional env variables ##
##############################################

# Usage limits
NEXT_PUBLIC_MAX_RESTAURANTS_PER_USER=5
NEXT_PUBLIC_MAX_MENUS_PER_RESTAURANT=5
NEXT_PUBLIC_MAX_CATEGORIES_PER_MENU=10
NEXT_PUBLIC_MAX_MENU_ITEMS_PER_CATEGORY=20
NEXT_PUBLIC_MAX_BANNERS_PER_RESTAURANT=5

# For sample menu shown in landing page
NEXT_PUBLIC_SAMPLE_MENU_ID=""

# Contact us form relies on https://web3forms.com
NEXT_PUBLIC_FORM_API_KEY=""

# For contact us and terms & conditions page
NEXT_PUBLIC_CONTACT_EMAIL=bob@gmail.com

# Sentry
# DSN are safe to keep public
NEXT_PUBLIC_SENTRY_DSN=""
SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_AUTH_TOKEN=""

# Playwright tests (Needed when running tests)
# Not needed during development or building the app
TEST_MENUFIC_USER_LOGIN_KEY=a_string_value
TEST_MENUFIC_BASE_URL=http://localhost:3000

# Deployed URL used for redirection purposes
NEXT_PUBLIC_PROD_URL=https://menufic.com

# Cloudinary Credentials (Server-side, for video uploads)
CLOUDINARY_CLOUD_NAME="dtrwpfq24"
CLOUDINARY_API_KEY="145874139586166"
CLOUDINARY_API_SECRET="U1KVbnMBw6-VYW2U6FqzAS3EdSs"

# ImageKit Credentials (for image uploads)
IMAGEKIT_PUBLIC_KEY="public_oSU+nL/TE4JVdWh3Pd7dNXhozBk="
IMAGEKIT_PRIVATE_KEY="private_7qVdKYDJJz1/BN266VqTynFqlhA="
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/9n1wt5mtk"
